@inherits LayoutComponentBase

<div id="SiteHeader">
    <div id="Logo">
        <img src="Images/LogoSolinoRound.svg" />
    </div>
    <div id="TitleDiv">
        <div id="Title">Solino de Baay</div>
        <div id="SubTitle">A nice collection of Comics</div>
    </div>
</div>
<div id="MenuBar"></div>

<!--Content-->
    @Body

