@font-face {
    font-family: 'Eras Light';
    src: url('../Fonts/ERASLGHT.TTF');
}

@font-face {
    font-family: 'Eras Medium';
    src: url('../Fonts/ERASMD.TTF');
}

@font-face {
    font-family: 'Eras Demi';
    src: url('../Fonts/ERASDEMI.TTF');
}

@font-face {
    font-family: 'Eras Bold';
    src: url('../Fonts/ERASBD.TTF');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: .85em;
    font-family: 'Eras Light';
    color: #232323;
    background-color: #999999;
}

a {
    text-decoration: none;
    color: white;
}

#SiteHeader {
    background-color: #1A1A1A;
    font-family: Eras Demi;
    color: #FBB03B;
    display: flex;
    align-items: center;
    height: 67.5px;
    border-top: solid 7.5px #FBB03B;
    width: 100%;
}

#Logo {
    margin-left: 10px;
}

    #Logo > img {
        width: 50px;
        height: 50px;
    }

#TitleDiv {
    margin-left: 25px;
}

#Title {
    font-size: 36px;
}

#SubTitle {
    font-size: 10px;
    color: white;
}

#MenuBar {
    width: 100%;
    height: 40px;
    background-color: #58595B;
}

@media screen and (min-width: 736px) {
    #SiteHeader {
        position: fixed;
        background-color: #1A1A1A;
        font-family: Eras Demi;
        color: #FBB03B;
        display: flex;
        align-items: center;
        height: 135px;
        border-top: solid 15px #FBB03B;
        margin-top: -135px;
        width: 100%;
    }

    #Logo {
        margin-left: 10px;
    }

        #Logo > img {
            width: 100px;
            height: 100px;
        }

    #TitleDiv {
        margin-left: 50px;
    }

    #Title {
        font-size: 72px;
    }

    #SubTitle {
        font-size: 21px;
        color: white;
        margin-bottom: 20px;
    }

    #MenuBar {
        width: 100%;
        height: 40px;
        background-color: #58595B;
        margin-top: 135px;
    }
}

#ComicPage {
    margin-top: -40px;
    display: grid;
    grid-template-columns: 25px max-content 25px;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: ". ComicHeader ." ". Table ." "prevPage paging nextPage";
    margin-bottom: 17.5px;
}

#TableDiv {
    grid-area: Table;
    display: grid;
    margin-bottom: 15px;
}

#ComicTable {
    grid-area: ComicTable;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3px;
}

@media screen and (min-width: 736px) {
    #ComicTable {
        grid-area: ComicTable;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 35px;
    }
}

#ComicHeader {
    margin: 0px 0px 10px 0px;
    grid-area: ComicHeader;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Eras Medium';
    color: white;
    font-size: xx-large;
    background-color: #58595B;
}

@media screen and (min-width: 736px) {
    .ComicCell {
        box-shadow: 7.5px 10px 3px #1A1A1A;
    }
}

.ComicCell {
    background-color: #BBBDBF;
    max-height: 265px;
    padding: 5px;
    cursor: pointer;
}

.ComicThumbnail, .ComicLink {
    display: block;
}

.ComicThumbnail {
    display: flex;
    justify-content: center;
    min-height: 250px;
    max-height: 250px;
    margin-bottom: 0px;
}

.ComicLink {
    background-color: #58595B;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    max-height: 45px;
    margin-top: -15px;
}

.ComicThumbnail img {
    margin: auto;
}

.ComicCell a {
    color: black;
    text-decoration: none;
    text-align: center;
}

#paging {
    grid-area: paging;
    margin-top: 13px;
}

#PagingBar {
    height: 25px;
    width: 100%;
    margin-top: -60px;
    background-color: #58595B;
}

#prevPage, #nextPage {
    grid-area: nextPage;
}

#prevPage {
    grid-area: prevPage;
}

    #nextPage a,
    #prevPage a {
        color: white;
        font-size: small;
        height: 30px;
        background-color: #58595B;
        text-align: center;
        padding: 5px;
    }

#pagingLinks {
    text-align: center;
    margin-top: -8px;
    margin-right: 3px;
}

    #pagingLinks > li {
        display: inline-block;
        color: white;
        text-decoration: none;
        font-size: small;
        background-color: #58595B;
        text-align: center;
        padding: 5px;
        margin: -1px;
    }

li > a {
    color: white;
    font-size: small;
}

#Footer {
    height: 30px;
    background-color: #1A1A1A;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: solid 5px #FBB03B;
}

#Comic {
    display: grid;
    grid-template-columns: 50px min-content 50px;
    grid-template-rows: 40px auto 50px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: "ZoomOut header ZoomIn" "prevButton content nextButton" "prevButton content nextButton";
    margin-top: -40px;
}

@media screen and (min-width: 736px) {
    #Comic {
        margin-top: -40px;
        display: grid;
        grid-template-columns: 25px 50px min-content 50px 25px;
        grid-template-rows: 40px auto 45px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        grid-template-areas: ". ZoomOut header ZoomIn ." ". prevButton content nextButton ." ". prevButton content nextButton ."
    }

    #ComicPage {
        margin-top: -40px;
        display: grid;
        grid-template-columns: 25px max-content 25px;
        grid-template-rows: 50px auto 50px;
        grid-template-areas: ". ComicHeader ." ". Table ." "prevPage paging nextPage";
        margin-bottom: -50px;
    }

    #paging {
        grid-area: paging;
        margin-top: 10px;
    }

    #prevPage, #nextPage {
        grid-area: nextPage;
        cursor: pointer;
    }

    #prevPage {
        grid-area: prevPage;
    }

        #nextPage .paging,
        #prevPage .paging {
            color: white;
            font-size: xx-large;
            height: 50px;
            background-color: #58595B;
            text-align: center;
            padding: 5px;
        }

    #PagingBar {
        height: 50px;
        width: 100%;
        margin-top: -50px;
        background-color: #58595B;
    }

    #pagingLinks {
        text-align: center;
        margin-bottom: 25px;
    }

        #pagingLinks > li {
            display: inline-block;
            color: white;
            text-decoration: none;
            font-size: x-large;
            background-color: #58595B;
            text-align: center;
            padding: 9px;
        }

    li.paging {
        color: white;
        font-size: x-large;
        cursor: pointer;
    }
}

#ZoomOut {
    grid-area: ZoomOut;
}

#ZoomIn {
    grid-area: ZoomIn;
}

    #ZoomOut div.paging,
    #ZoomIn div.paging {
        color: white;
        font-size: xx-large;
        display: block;
        min-height: 45px;
        text-align: center;
        cursor: pointer;
    }

#header {
    font-family: 'Eras Medium';
    grid-area: header;
    justify-self: center;
    align-self: center;
}

    #header a {
        color: white;
        font-size: xx-large;
        display: block;
        min-height: 45px;
        min-width: inherit;
        padding-left: 45px;
        padding-right: 45px;
    }

#prevButton, #nextButton {
    align-items: center;
    display: table-cell;
    vertical-align: middle;
}

#prevButton {
    grid-area: prevButton;
    background-color: #58595B;
}

#content {
    grid-area: content;
    justify-self: center;
}

#nextButton {
    grid-area: nextButton;
    background-color: #58595B;
}

    #prevButton div.paging,
    #nextButton div.paging {
        font-size: xx-large;
        color: white;
        display: flex;
        height: 90%;
        background-color: #58595B;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    #prevButton div.firstpaging,
    #nextButton div.lastpaging {
        font-size: xx-large;
        color: white;
        display: flex;
        height: 10%;
        background-color: #58595B;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    #ComicBottomMargin {
    height: 40px;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}
