@model ComicReaderWeb.Models.ComicPage
@{
    Layout = null;
}
@{
    var comicPage = new ComicReaderWeb.Models.ComicPage(Model.conf, Model.currentPage)
    {};
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="page">
        <div>
            @ViewBag.Table
        </div>
        <div id="prevPage">
            @Html.ActionLink("Previous page", "Index", "Home", new { @page = comicPage.previousPage },null)
        </div>
        <div id="nextPage">
            @Html.ActionLink("Next page", "Index", "Home", new { @page = comicPage.nextPage }, null)
        </div>
    </div>
</body>
</html>
