<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!-- It should be possible to add more folder keys to determine where to find types of Media -->
    <!--<add key="comicFolder" value="C:\Development (Thuis)\WWW.DE-BAAY.NL Website Development\WWW.DE-BAAY.NL Online Comic Reader\WWW.DE-BAAY.NL Online Comic Reader\Comics"/>-->
    <!--add key="comicFolder" value="Comics/"/-->
    <add key="comicFolder" value="\\DE-BAAY.NL\DistributedFileShare\Comics\pub\" />
    <add key="mediaFolder" value="Media/"/>
    <add key="imageFolder" value="Images/"/>
    <add key="musicFolder" value="Music/"/>
    <add key="fileFolder" value="Files/"/>
    <add key="epubFolder" value="Epubs/"/>
    <add key="pageLimit" value="10"/>    
    <add key="defaultFile" value="Images/NotFound.png"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
