@page "/ComicPage"
@page "/ComicPage/{path}/{filename}"
@page "/ComicPage/{path}/{filename}/{currentcomicpage:int}"
@page "/ComicPage/{subfolder}/{path}/{filename}/{currentcomicpage:int}"
@using ComicReaderWebCore.Data
@using ComicReaderWebCore.Models
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IComicApiCallService ApiCallService
@inject NavigationManager NavigationManager
@inject IComicStateProvider ComicStateProvider
@inject IComicListStateProvider ComicListStateProvider
@if (ComicStateProvider.CurrentComic == null)
{
<div id="Comic">
    <div id="content">
        <p><em>Loading...</em></p>
    </div>
</div>
<div id="ComicBottomMargin"></div>
<div id="Footer"></div>
}
else
{
 <!--Content-->
<div id="Comic" tabindex="0" @onkeyup="KeyUp">
    <div id="ZoomOut"><div class="paging" @onclick="ZoomOut">-</div></div>
    <div id="header">
        <NavLink class="nav-link" href="@Href">
            Comic list
        </NavLink>
    </div>
    <div id="ZoomIn">
        <div class="paging" @onclick="ZoomIn">+</div>
    </div>
    <div id="prevButton">
        <div class="firstpaging" @onclick="FirstPage">P.<br />1</div>
        <div class="paging" @onclick="PreviousPage">&lt;</div>
    </div>
    <div id="content">
        <img src="@comicPage" alt="ComicPage" />
    </div>
    <div id="nextButton">
        <div class="paging" @onclick="NextPage">&gt;</div>
        <div class="lastpaging" @onclick="LastPage">P.<br />@ComicStateProvider.CurrentComic.TotalPages</div>
    </div>
</div>
<div id="ComicBottomMargin"></div>
<div id="Footer"></div>
}

@code {
    #region fields
    [Parameter]
    public string Subfolder { get; set; }

    [Parameter]
    public string Path { get; set; }

    [Parameter]
    public string Filename { get; set; }

    [Parameter]
    public int CurrentComicPage { get; set; } = 0;

    private int currentSize { get; set; }

    private string comicPage { get; set; }

    private string Href { get; set; }

    private ComicListModel comicListModel { get; set; }
    private ComicModel comicInfo { get; set; }
    #endregion

    #region Method called at Initialization
    /// <summary>
    /// Checks for url format and Comic state and Page state
    /// Eventually Href property is set to the URL of the page to be displayed.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        if (Subfolder != null)
        {
            Path = $"{Subfolder}\\{Path}";
        }

        if (ComicStateProvider.CurrentComic == null)
        {
            var requestedComic = $"\\{Path}\\{Filename}";
            comicListModel = await ApiCallService.GetComicInfo(requestedComic);
            comicInfo = comicListModel.Files[0];

            ComicStateProvider.CurrentComic = comicInfo;
        }

        if (ComicStateProvider.ComicsVisited.ContainsKey(ComicStateProvider.CurrentComic.Path))
        {
            CurrentComicPage = ComicStateProvider.ComicsVisited[ComicStateProvider.CurrentComic.Path];
        }
        else
        {
            ComicStateProvider.ComicsVisited.Add(ComicStateProvider.CurrentComic.Path, 0);
        }

        if (ComicStateProvider.PageSize != 0)
        { currentSize = ComicStateProvider.PageSize; }
        else
        { currentSize = ApiCallService.DefaultComicSize; }
        comicPage = $"{ApiCallService.ApiLocation}comic/{Path}/{Filename}/{CurrentComicPage}?size={currentSize}";

        Href = $"ComicListPage/{ComicListStateProvider.CurrentListPage}";
    }
    #endregion

    #region Page navigation methods
    /// <summary>
    /// Page browsing does not go beyond last comic page, returns to title page.
    /// State is saved to ComicStateProvider which contains ComicVisited, including current page, CurrentComic and PageSize
    /// </summary>
    private void PreviousPage()
    {
        if (Subfolder != null)
        {
            Path = $"{Subfolder}\\{Path}";
        }
        if (CurrentComicPage <= 0)
        {
            NavigationManager.NavigateTo($"comicpage/{Path}/{Filename}/0");
            comicPage = $"{ApiCallService.ApiLocation}comic/{Path}/{Filename}/0?size={currentSize}";
            ComicStateProvider.ComicsVisited[ComicStateProvider.CurrentComic.Path] = 0;
        }
        else
        {
            CurrentComicPage -= 1;
            NavigationManager.NavigateTo($"comicpage/{Path}/{Filename}/{CurrentComicPage}");
            comicPage = $"{ApiCallService.ApiLocation}comic/{Path}/{Filename}/{CurrentComicPage}?size={currentSize}";
            ComicStateProvider.ComicsVisited[ComicStateProvider.CurrentComic.Path] = CurrentComicPage;
        }
    }

    private void NextPage()
    {
        if (Subfolder != null)
        {
            if (!Path.Contains(Subfolder))
            {
                Path = $"{Subfolder}\\{Path}";
            }
        }
        if (CurrentComicPage >= ComicStateProvider.CurrentComic.TotalPages)
        {
            NavigationManager.NavigateTo($"comicpage/{Path}/{Filename}/0");
            comicPage = $"{ApiCallService.ApiLocation}comic/{Path}/{Filename}/0?size={currentSize}";
            ComicStateProvider.ComicsVisited.Remove(ComicStateProvider.CurrentComic.Title);
            NavigationManager.NavigateTo(Href);
        }
        else
        {
            CurrentComicPage += 1;
            NavigationManager.NavigateTo($"comicpage/{Path}/{Filename}/{CurrentComicPage}");
            comicPage = $"{ApiCallService.ApiLocation}comic/{Path}/{Filename}/{CurrentComicPage}?size={currentSize}";
            ComicStateProvider.ComicsVisited[ComicStateProvider.CurrentComic.Path] = CurrentComicPage;
        }
    }

    private void FirstPage()
    {
        if (Subfolder != null)
        {
            if (!Path.Contains(Subfolder))
            {
                Path = $"{Subfolder}\\{Path}";
            }
        }
        NavigationManager.NavigateTo($"comicpage/{Path}/{Filename}/0");
        comicPage = $"{ApiCallService.ApiLocation}comic/{Path}/{Filename}/0?size={currentSize}";
        ComicStateProvider.ComicsVisited[ComicStateProvider.CurrentComic.Path] = 0;
    }

    private void LastPage()
    {
        if (Subfolder != null)
        {
            if (!Path.Contains(Subfolder))
            {
                Path = $"{Subfolder}\\{Path}";
            }
        }
        NavigationManager.NavigateTo($"comicpage/{Path}/{Filename}/{ComicStateProvider.CurrentComic.TotalPages}");
        comicPage = $"{ApiCallService.ApiLocation}comic/{Path}/{Filename}/{ComicStateProvider.CurrentComic.TotalPages}?size={currentSize}";
        ComicStateProvider.ComicsVisited[ComicStateProvider.CurrentComic.Path] = ComicStateProvider.CurrentComic.TotalPages;
    }

    private void ZoomIn()
    {
        if (Subfolder != null)
        {
            if (!Path.Contains(Subfolder))
            {
                Path = $"{Subfolder}\\{Path}";
            }
        }
        currentSize += 100;
        comicPage = $"{ApiCallService.ApiLocation}comic/{Path}/{Filename}/{CurrentComicPage}?size={currentSize}";
        ComicStateProvider.PageSize = currentSize;
    }

    private void ZoomOut()
    {
        if (Subfolder != null)
        {
            if (!Path.Contains(Subfolder))
            {
                Path = $"{Subfolder}\\{Path}";
            }
        }
        currentSize -= 100;
        comicPage = $"{ApiCallService.ApiLocation}comic/{Path}/{Filename}/{CurrentComicPage}?size={currentSize}";
        ComicStateProvider.PageSize = currentSize;
    }

    /// <summary>
    /// When Arrow Left or Right is pressed while browsing a comic, next page or previous page is called.
    /// </summary>
    void KeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "ArrowRight")
        {
            NextPage();
        }
        if (e.Key == "ArrowLeft")
        {
            PreviousPage();
        }
    }
    #endregion
}
