body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #aaa;
}

header,
footer,
nav,
section {
    display: block;
}

#ComicPage
{
    display: grid;
    grid-template-columns: 25px max-content max-content 25px;
    grid-template-rows: auto 45px;
    grid-template-areas:
        ". Table Table ."
        ". prevPage nextPage ."
    }

#Table {
    grid-area: Table;
}

#prevPage {
    grid-area: prevPage;
    align-self: center;
}

#nextPage {
    grid-area: nextPage;
    align-self: center;
}

    #nextPage a, #prevPage a {
        height: 50px;
        display: block;
        background-color: #DDDDDD;
        align-self: center;
    }

#Comic {
    display: grid;
    grid-template-columns: 25px 50px min-content 50px 25px;
    grid-template-rows: 45px auto 45px;
    grid-template-areas: 
        ". ZoomOut header ZoomIn ."
        ". prevButton content nextButton ."
        ". prevButton content nextButton ."
}

#ZoomOut {
    grid-area:ZoomOut;
}

#ZoomIn {
    grid-area: ZoomIn;
}

#ZoomOut a,
#ZoomIn a {
    display: block;
    min-height: 45px;
    background-color: #DDDDDD
}

#header {
    grid-area: header;
    justify-self: center;
    align-self: center;
}

#header a {
        display: block;
        min-height: 45px;
        min-width: inherit;
        background-color: #DDDDDD;
}

#prevButton {
    grid-area: prevButton;
    align-self: center;
}

#content {
    grid-area: content;
    justify-self: center;
}

#nextButton {
    grid-area: nextButton;
    align-self: center;
}

    #prevButton a,
    #nextButton a {
        display: block;
        min-height: 450px;
        background-color: #DDDDDD
    }

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
